.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
.positai
tiles_test/
examples/
*.Rcheck/
ConScapeRtools_*.tar.gz
.claude
vignettes/conscape_results/
vignettes/conscape_sensitivity_tiles/
vignettes/conscape_tiles/
doc/
Meta/
